body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
}

#root {
  display: flex;
  flex-grow: 1;
}

textarea {
  resize: none;
}

.form {
  width: 300px;
}

.sidebar {
  background-color: #1e325c;
  width: 300px;
  height: 100%;
  align-self: flex-start;
  color: #fff;

  .list-group {
    background: none;
    border-radius: 0;
    border: none;

    .list-group-item {
      background: none;
      border: none;
    }

    .list-group-item:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    .list-group-item.active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.sidebar__section-name {
  margin: 8px 16px;
}

.sidebar__link {
  text-decoration: none;
  color: #fff;
  display: flex;
}

.channel-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;

  .empty {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 60px 0;
  }
}

.message-box {
  display: flex;
  padding: 48px 16px;
  width: 100%;
}

.not-found {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.not-found__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0 ;
}

.not-found__error {
  margin: 0 0 32px;
}

.not-found__status {
  font-size: 140px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 520px) {
  .not-found__status {
    font-size: 80px;
  }
}

.not-found__message {
  text-align: center;
  margin: 5px 0 0;
}

.not-found__link {
  text-align: center;
  text-decoration: none;
}

@import '~bootstrap/dist/css/bootstrap';
